.header Account
.content
	.ui.large.list
		.item
			- if(loggedIn)
				img.ui.avatar.image(src=`https://minotar.net/avatar/${selectedProfile.id}` alt="skin head")
				.content
					.header(style="display: inline-block;") #{selectedProfile.name}
					.description (UUID: #[span(style="user-select: all;") #{selectedProfile.id}])
				.right.floated.content
					button.ui.right.floated.red.button(onclick="AuthenticationController.logout()") #[i.fas.fa-sign-out-alt] Logout
			- else
				.content(style="display: inline-block;")
					.header You have not logged in to your Minecraft account yet.
					.description Log in now to start playing and to unlock all the goodies!
				.right.floated.content
					button.ui.primary.button(onclick="Render.showLoginModal()") Login
