.header Login
.content
	.ui.centered.grid
		.row
			.twelve.wide.column
				//- error messages
				.ui.tertiary.inverted.red.segment#login-errors-container(style="display:none;")
					p#login-errors
				//- login form
				form.ui.form.segment.error#login-form
					.field
						label Mojang Email
						input#username-field(type="text" name="username" placeholder="Email")
					.field
						label Password (#[a(tabindex="-1" onclick="shell.openExternal('https://my.minecraft.net/en-us/password/forgot/')") Forgot your password?])
						input#password-field(type="password" name="password" placeholder="Password")
					button(type="submit").ui.fluid.button.positive#login-btn Login
					.ui.horizontal.divider or
					.actions
						center
							button.ui.tiny.cancel.button.inverted.red Continue without logging in
