.ui.container
	- if(hasSelection)
		.ui.segment
			.ui.header #{name}
			.content
				p WIP, details about instance go here
				button.ui.green.huge.button Play
	- else
		p Select an instance form above to see additional details and to launch the game.
