.header An unexpected error occured while launching
.content
	p It seems like the installation for instance #[strong #{name}] is corrupted. Would you like to reinstall this instance?
.actions
	.ui.button.cancel.blue Cancel
	.ui.button.approve.inverted.green Reinstall