.header Are you sure?
.content
	p Are you sure you want to delete the instance #[strong #{name}]? This action is irreversable.
.actions
	.ui.button.cancel.inverted.basic.blue Cancel
	.ui.button.approve.inverted.red Delete it