.ui.container
	- if(hasSelection)
		.ui.segment
			.ui.header #{name}
		.ui.segment
			p WIP, details about instance go here
	- else
		p Select an instance form above to see additional details and to launch the game.
