- if(loggedIn)
    #login-status-text
        span #{name}
        img(src=`https://minotar.net/avatar/${name}` alt="skin head"
            style="margin-left: 8px; width: 18px; vertical-align: middle")
    .menu
        .item(onclick="Render.showSettingsModal()") Settings
        .item(onclick="AuthenticationController.logout()") Logout
- else
    a#login-status-text(onclick="Render.showLoginModal()") Login