extend layout

block css
    link(rel="stylesheet", href="../css/instances.css")

block js
    script.
        $(() => {
            // render list
            instances.renderInstanceList();
            // apply event handlers
            $(document).on("click", ".version-option", (event) => {
                jqThis = $(event.currentTarget);
                const options = {
                    name: jqThis.attr("data-instance-id"),
                    id: jqThis.attr("data-instance-id"),
                    clientType: jqThis.attr("data-instance-clienttype"),
                    type: jqThis.attr("data-instance-type")
                }
                // add new instance
                instances.newInstance(options);
                console.log($(this).attr("data-instance-id"))
                // hide modal
                $("#instance-modal").modal("hide");
                // update list
                instances.renderInstanceList();
            });
        });

block content
    h1 Instances
    .ui.button(onclick="instances.newInstanceModal()") New Instance
    .ui.raised.segment
        .ui.divided.items#instance-list
        // render list


block modals
    .ui.modal#instance-modal
        .header New Instance
        .scrolling.content
            h3 Vanilla instances
            .ui.negative.message #[strong Important:] Install functionality has not been implemented yet. Please check back later.
            .ui.divided.relaxed.list#versions-list



block templates
    script#template-instance(type="text/x-jsrender")
        .item
            .content 
                .header {{:name}}
                .meta.
                    {{if clientType}}
                            {{:clientType}} 
                        {{else}}
                            Vanilla 
                        {{/if}} #[strong {{:id}}] ({{:type}})
    script#template-versionModal(type="text/x-jsrender")
        a.item.version-option(data-instance-id="{{:id}}"
        data-instance-clienttype="{{if clientType}}{{:clientType}}{{else}}Vanilla{{/if}}",
        data-instance-type="{{:type}}")
            .content 
                .header {{:id}}
                .meta.
                    {{if clientType}}
                        {{:clientType}} - {{:type}}
                    {{else}}
                        Vanilla - {{:type}}
                    {{/if}}