extend layout

block css
    link(rel="stylesheet", href="../css/index.css")

block js


block content
    h1 Instances
    .ui.button(onclick="instances.newInstanceModal()") New Instance
    .ui.raised.segment
        .ui.divided.items#instance-list
        // render list
        script instances.renderInstanceList();


block modals
    .ui.modal#instance-modal
        .header New Instance
        .content
            h3 Vanilla instances
            p Note, install functionality has not been implemented yet. Please check back later.
            .ui.segment
                .scrolling.content
                    .ui.divided.items#versions-list



block templates
    script#template-instance(type="text/x-jsrender")
        .item
            .content 
                .header {{:name}}
                .meta {{:version}}
    script#template-versionModal(type="text/x-jsrender")
        a.item
            .content 
                p {{:id}}
                .meta {{:type}}