doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        // css
        // semantic-ui
        link(rel="stylesheet", href="../css/global.css")
        link(rel="stylesheet", href="../css/semantic.min.css")
        block css
        // js
        script(link-js-library).
            window.jQuery = window.$ = require('jquery');
            // load modules
            window.minecraft = require('../../js/ts/index');
            window.auth = require('../../js/ts/authentication');
            window.main = require('../../js/ts/global');
            window.shell = require('electron').shell;
            window.store = require('../../js/ts/store');
        script(src='../js/semantic.min.js')
        block js
    body
        navbar.ui.menu.fixed.inverted
            .item Minecraft Box
            a.item(href="./index.html") Instances
            a.item(href="./news.html") News
            .right.menu
                a.item#login-status

        // page content
        .ui.container(style="padding-top: 40px;")
            block content

        // modals
        .ui.modal#login-modal
            .header Login
            .content
                .ui.centered.grid
                    .row
                        .twelve.wide.column
                            // error messages
                            .ui.tertiary.inverted.red.segment#login-errors-container(style="display:none;")
                                p#login-errors
                            // login form
                            form.ui.form.segment.error#login-form
                                .field
                                    label Mojang Email
                                    input(type="text" name="username" placeholder="Email")#username-field
                                .field
                                    label Password (#[a(tabindex="-1" onclick="shell.openExternal('https://my.minecraft.net/en-us/password/forgot/')") Forgot your password?])
                                    input(type="password" name="password" placeholder="Password")#password-field
                                button(type="submit").ui.fluid.button.positive#login-btn Login
                                .ui.horizontal.divider or
                                .actions
                                    center
                                        button.ui.tiny.cancel.button.inverted.red Continue without logging in