h5.ui.header My Account
a.ui.top.right.attached.primary.label#account-modal-link-home Show more

.ui.segment(style="margin-top: 0 !important;")
	- if(loggedIn)
		.content
			.left.floated.mini.ui.image
				img(src=`https://minotar.net/avatar/${selectedProfile.id}`)
		strong #{selectedProfile.name}
		.meta #{user.username}
	- else
		p #[strong You are not logged in.] Log in now to start playing. 
