h5.ui.header Last Played
a.ui.top.right.attached.primary.label(href="./instances.html") View all

.ui.segment#last-played-instance(style="margin-top: 0 !important;")
	p #[strong #{instance.name}] (#{instance.id} #{instance.type})
	.meta Last played: #{instance.lastPlayedStr}
