extend layout

block css
	link(rel="stylesheet" href="../../src/renderer/css/home.css")

block content
	div
		h1 Home
		.ui.sixteen.column.stackable.equal.height.grid
			.row
				.ten.wide.column
					home-instances(style="display: block; height: 100%;").ui.segment
				.six.wide.column
					home-account(style="display: block; height: 100%;").ui.segment
			.sixteen.wide.column
				.ui.segment
					h5.ui.header More comming soon!
