extend layout

block css
	link(rel="stylesheet" href="../../src/renderer/css/home.css")

block content
	div
		h1 Home
		.ui.stackable.grid
			.ten.wide.column
				home-instances(style="display: block;").ui.segment
			.six.wide.column
				.ui.segment
					h5.ui.header My Account
					a.ui.top.right.attached.primary.label#account-modal-link-home Show more
			.sixteen.wide.column
				.ui.segment
					h5.ui.header More comming soon!
