extend layout

block content
	div
		h1 Home
		.ui.stackable.grid
			.ten.wide.column
				.ui.segment
					h5.ui.header My Recent Instances
					a.ui.top.right.attached.primary.label(href="./instances.html") Show more
			.six.wide.column
				.ui.segment
					h5.ui.header My Account
					a.ui.top.right.attached.primary.label#account-modal-link-home Show more
			.sixteen.wide.column
				.ui.segment
					h5.ui.header More comming soon!
