extend layout

block css
	link(rel="stylesheet", href="../../src/renderer/css/instances.css")

block js
	//- script(src="../templates/instanceList.js")
	//- script(src="../templates/instanceConfirmDelete.js")
	//- script(src="../templates/instanceRename.js")
	//- script(src="../templates/instanceCorrupted.js")

block content
	h1 Instances
	.ui.primary.button(onclick="Render.newInstance();") New Instance
	.ui.button.right.floated.green.inverted(onclick="Render.showSettingsModal()") Settings
	.ui.raised.segment
		.ui.divided.items#instance-list
		//- render list
	script.
		// render list
		Render.instanceList();