extend layout

block css
	link(rel="stylesheet", href="../../src/renderer/css/instances.css")

block js
	//- script(src="../templates/instanceList.js")
	//- script(src="../templates/instanceConfirmDelete.js")
	//- script(src="../templates/instanceRename.js")
	//- script(src="../templates/instanceCorrupted.js")

block content
	h1 Instances
	.ui.button(onclick="Render.newInstance();") New Instance
	.ui.raised.segment
		.ui.divided.items#instance-list
		//- render list
	script.
		// render list
		Render.instanceList();

block modals
	.ui.modal#version-modal
		.header New Instance
		.scrolling.content
			h3 Vanilla instances
			.ui.negative.message #[strong Important:] Install functionality has not been implemented yet. Please check back later.
			.ui.divided.relaxed.list#versions-list