extend layout

block css
	link(rel="stylesheet", href="../../src/renderer/css/instances.css")

block js
	script.
		$(() => {
			// render list
			Render.instanceList();
			// apply event handlers
			$(document).on("click", ".version-option", (event) => {
				let jqThis = $(event.currentTarget);
				const thisId = jqThis.attr("data-instance-id");
				let instance = store.versionsMetaCache.get().versions.find(obj => obj.id == thisId);
				// add new instance
				instances.newInstance(instance);
				console.log($(this).attr("data-instance-id"))
				// hide modal
				$("#version-modal").modal("hide");
				// update list
				Render.instanceList();
			});
		});
	script(src="../templates/instanceList.js")
	script(src="../templates/instanceConfirmDelete.js")
block content
	h1 Instances
	.ui.button(onclick="Render.newInstance();") New Instance
	.ui.raised.segment
		.ui.divided.items#instance-list
		//- render list

block modals
	.ui.modal#version-modal
		.header New Instance
		.scrolling.content
			h3 Vanilla instances
			.ui.negative.message #[strong Important:] Install functionality has not been implemented yet. Please check back later.
			.ui.divided.relaxed.list#versions-list