doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name='turbolinks-cache-control' content='no-cache')
		meta(http-equiv='Content-Security-Policy' content=`default-src 'self' https:;
			script-src 'self' 'unsafe-inline' 'unsafe-eval';
			style-src 'self' 'unsafe-inline' 'unsafe-eval';
			font-src 'self' data:;
			img-src 'self' data: https:`)

		// css
		// semantic-ui
		link(rel="stylesheet" href="../../src/renderer/css/global.css")
		link(rel="stylesheet" href="../../semantic/dist/semantic.min.css")
		block css
		// js
		// load modules
		script(link-js-library).
			require("v8-compile-cache");
			const jQuery = window.$ = require('jquery');
			const { shell } = require('electron');
			
		script(src='../../semantic/dist/semantic.min.js')
		script(src='../../src/renderer/assets/icons/regular.min.js' defer)
		script(src='../../src/renderer/assets/icons/solid.min.js' defer)
		script(src='../../src/renderer/assets/icons/fontawesome.min.js' defer)

		block js
	body
		navbar.ui.menu.fixed.inverted#app-navbar(style="height: 45px;" data-turbolinks-permanent)
			.item Minecraft Box
			a.item(href="./instances.html") #[i.far.fa-list-alt] Instances
			a.item(href="./news.html") #[i.far.fa-newspaper] News
			.right.menu
				user-status

		//- page content
		.ui.container#content(style="padding-top: 50px")
			block content
		block outside

		#task-progress-container(data-turbolinks-permanent=true)
			#task-progress(is="task-progress")

		//- modals
		block modals
		//- These are just placeholders that will be replaced with content when modal is loaded
		.ui.modal#modal-login(is="modal-auth")
		.ui.modal#modal-newInstance(is="modal-new-instance")
		.ui.modal#modal-rename(is="instance-rename-modal")
		.ui.modal#modal-options(is="instance-options-modal")
		.ui.modal#modal-saves(is="instance-saves-modal")
		.ui.modal#modal-info(is="instance-info-modal")
		.ui.basic.modal#modal-corrupted
		.ui.basic.modal#modal-confirmDelete(is="instance-delete-modal")
		.ui.basic.modal#modal-settings
