doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name='turbolinks-cache-control' content='no-cache')

		// css
		// semantic-ui
		link(rel="stylesheet" href="../../src/renderer/css/global.css")
		link(rel="stylesheet" href="../../semantic/dist/semantic.min.css")
		block css
		// js
		// load modules
		script(link-js-library).
			require("v8-compile-cache");
			const jQuery = window.$ = require('jquery');
			const { shell } = require('electron');
		// load defered modules
		// script(defer link-js-library).
			require("../js/renderer/StartupTasks");
		//- script(src="../renderer.bundle.js")
			
		script(src='../../semantic/dist/semantic.min.js' link-js-library)
		block js
	body
		navbar.ui.menu.fixed.inverted(style="height: 45px;")
			.item Minecraft Box
			a.item(href="./instances.html") Instances
			a.item(href="./news.html") News
			.right.menu
				user-status

		//- page content
		.ui.container(style="padding-top: 50px;")
			block content

		//- modals
		block modals
		.ui.modal#modal-login
			.header Login
			.content
				.ui.centered.grid
					.row
						.twelve.wide.column
							//- error messages
							.ui.tertiary.inverted.red.segment#login-errors-container(style="display:none;")
								p#login-errors
							//- login form
							form.ui.form.segment.error#login-form(onSubmit="return false;")
								.field
									label Mojang Email
									input(type="text" name="username" placeholder="Email")#username-field
								.field
									label Password (#[a(tabindex="-1" onclick="shell.openExternal('https://my.minecraft.net/en-us/password/forgot/')") Forgot your password?])
									input(type="password" name="password" placeholder="Password")#password-field
								button(type="submit").ui.fluid.button.positive#login-btn Login
								.ui.horizontal.divider or
								.actions
									center
										button.ui.tiny.cancel.button.inverted.red Continue without logging in
		//- These are just placeholders that will be replaced with content when modal is loaded
		.ui.modal#modal-newInstance
		.ui.modal#modal-rename
		.ui.modal#modal-options
		.ui.modal#modal-saves
		.ui.basic.modal#modal-corrupted
		.ui.basic.modal#modal-confirmDelete
		.ui.basic.modal#modal-settings
