doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		meta(name='turbolinks-cache-control' content='no-cache')
		meta(http-equiv='Content-Security-Policy' content=`default-src 'self' https:;
			script-src 'self' 'unsafe-inline' 'unsafe-eval';
			style-src 'self' 'unsafe-inline' 'unsafe-eval';
			font-src 'self' data:;
			img-src 'self' data: https:`)

		title Minecraft Box

		// css
		// semantic-ui
		link(rel="stylesheet" href="../src/renderer/css/global.css")
		link(rel="stylesheet" href="../semantic/dist/semantic.min.css")
		block css
		// js
		// load modules
		script(link-js-library).
			require("v8-compile-cache");
			const jQuery = window.$ = require('jquery');
			const { shell } = require('electron');
			
		script(src='../semantic/dist/semantic.min.js')
		script(src='../src/renderer/assets/icons/regular.min.js' defer)
		script(src='../src/renderer/assets/icons/solid.min.js' defer)
		script(src='../src/renderer/assets/icons/fontawesome.min.js' defer)

		block js
	body
		navbar.ui.fixed.four.item.menu#app-navbar(style="height: 45px;" data-turbolinks-permanent)
			a.item(href="./home.html" tabindex=-1) #[i.fas.fa-home] Home
			a.item(href="./instances.html" tabindex=-1) #[i.far.fa-list-alt] Instances
			a.item(href="./news.html" tabindex=-1) #[i.far.fa-newspaper] News
			a.item#account-modal-link(tabindex=-1) #[i.far.fa-user] Account
			//- .right.menu
			//- 	user-status

		//- page content
		.ui.container#content(style="padding-top: 50px")
			block content
		block outside

		#task-progress-container(data-turbolinks-permanent=true)
			task-progress#task-progress

		//- modals
		block modals
		//- These are just placeholders that will be replaced with content when modal is loaded
		auth-modal.ui.modal#modal-login
		modal-account.ui.modal#modal-account
		.ui.modal#modal-newInstance(is="modal-new-instance")
		instance-rename-modal.ui.modal#modal-rename
		instance-options-modal.ui.modal#modal-options
		instance-saves-modal.ui.modal#modal-saves
		instance-info-modal.ui.modal#modal-info
		instance-modal-container.ui.basic.longer.modal
		.ui.basic.modal#modal-corrupted
		instance-delete-modal.ui.basic.modal#modal-confirmDelete
		instance-logs-modal.ui.modal#modal-logs
		.ui.basic.modal#modal-settings
