:root {
	--instance-info-segment-height: 150px;
}

.text-instanceName {
	text-overflow: ellipsis;
	margin-bottom: 0 !important;
	overflow: hidden;
	white-space: nowrap;
}

#content {
	height: calc(100% - var(--instance-info-segment-height)) !important;
}

#instance-list-container {
	margin-top: 10px;
	margin-bottom: calc(var(--instance-info-segment-height) + 10px);
}

div[is="instance-list"] {
	overflow-x: hidden;
	overflow-y: auto;
	width: inherit;
}

#instance-info-segment {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: var(--instance-info-segment-height);
	background-color: white;
	box-shadow: 0px 0px 5px 10px white;
}
