.text-instanceName {
	text-overflow: ellipsis;
	margin-bottom: 0 !important;
	overflow: hidden;
	white-space: nowrap;
}

#instance-list-container {
	bottom: 0;
	left: 0;
    top: 150px;
    position: fixed;
    width: 100%;
}
/* .instance-item{
	background-color: white;
}
.instance-item:hover {
	background-color: rgb(236, 236, 236) !important;
	transition: background-color 100ms ease-in !important;
} */
