.header #{name} | Options
.content
	.ui.center.aligned.header Instance
	form.ui.form#form-options
		.field
			label Name
			input.ui.input(value=name name="instance-name")
.actions
	.ui.button.primary.disabled.approve#btn-modalOptionsSave Save and close
	.ui.button.deny Cancel
//- set global instanceOptionsName equal to name of instance in modal
//- script window.instanceOptionsName = "#{name}";
//- | window.instanceOptionsTemp = ApplicationStore.instances.findFromName("#{name}"); // temp var to store options