.header #{name} | Options
.content
	.ui.center.aligned.header Instance
	form.ui.form#form-options
		.field
			label Name
			input.ui.input(value=name name="instance-name")
.actions
	.ui.button.primary.disabled.approve#btn-modalOptionsSave Save and close
	.ui.button.deny Cancel
