.ui.modal
	.header Rename
	.content
		p Enter a new name for instance #{name}:
		.ui.fluid.input
			input#input-rename(type="text" name="newName" placeholder="New Name")
	.actions
		.ui.button.cancel.blue Cancel
		.ui.button.approve.inverted.green Rename