.header Data
.content
	.ui.secondary.menu
		a.item(data-tab="worlds") Worlds
		a.item(data-tab="servers") Servers
	.ui.tab.segment(data-tab="worlds")
		table.ui.celled.table
			thead
				tr
					th World Name
					th Size
					th Version
			tbody
	.ui.tab.segment(data-tab="servers")
		.ui.message.error
			| Not implemented yet!
.actions
	button.ui.primary.approve.button Close
