.header Data
.content
	.ui.secondary.menu
		a.item(data-tab="worlds") Worlds
		a.item(data-tab="servers") Servers
	.ui.tab.segment(data-tab="worlds")
		table.ui.celled.table
			thead
				tr
					th World Name
					th Size
					th Version
			tbody
	.ui.tab.segment(data-tab="servers" is="saves-tab-server")
		.dimmable
			.ui.inverted.dimmer
				.ui.loader
			table.ui.celled.table
				thead
					tr
						th Server name
						th IP Address
				tbody
				tfoot
.actions
	button.ui.primary.approve.button Close
