name: Test

on: [push, pull_request]

jobs:
  test:
    name: Test application using Spectron and publish coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Use NodeJS 12
      uses: actions/setup-node@v1
      with:
        node-version: 12
    - name: npm install
      run: npm install
    - name: Instrument renderer files with webpack
      run: npx webpack --config-name=coverage
    - name: Run tests and generate coverage with mocha and nyc
      run: xvfb-run --auto-servernum npm run coverage
      continue-on-error: true
    - name: Upload coverage to Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
